*
{
    all: unset;
}

/* tooltip 
tooltip
{
    background-color: #161320;
    font-family: UbuntuMono Nerd Font;
    font-size: 14px;
}
*/
/* tooltip */
tooltip
{
    background-color: rgb(77, 77, 77);
    font-family: JetBrainsMono;
    font-size: 14px;
}

// Launcher
//-----------
.launchermenu
{
    background-color: #2f354b;
    border-radius: 8px;
    // border: 2px ridge #08080a;
}

.launcher-icon
{
    margin-top: 10px;
    margin-left: 0px;
    margin-bottom: 10px;
}

.face {
	background-size: 150px;
	min-height: 150px;
	min-width: 150px;
	margin: 13px 0px 11px 0px;
	border-radius: 50%;
}

.launcher-pfp-label
{
    font-family: JetBrainsMono;
    font-size: 15px;
    margin-left: 0px;
    margin-right: 0px;
}

.launcher-pfp-label2
{
    font-family: JetBrainsMono;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    color: rgb(232, 3, 232);
    border-bottom: #a900bf solid 2px;
}

// Firefox - files - terminal - editor
//-------------
.launcher-btn-0
{
    border: transparent solid 1px;
    color: orange;
    font-family: Material Design Icons Desktop;
    font-size: 20px;
    margin: 5px;
}
.launcher-btn-0:hover
{
    border: orange solid 1px;
    border-radius: 10px;
}
//-------------
.launcher-btn-1
{
    border: transparent solid 1px;
    color: cyan;
    font-family: Material Design Icons Desktop;
    font-size: 30px;
    margin: 5px;
}
.launcher-btn-1:hover
{
    border: cyan solid 1px;
    border-radius: 10px;
}
//-------------
.launcher-btn-2
{
    border: transparent solid 1px;
    color: pink;
    font-family: Material Design Icons Desktop;
    font-size: 30px;
    margin: 5px;
}
.launcher-btn-2:hover
{
    border: pink solid 1px;
    border-radius: 10px;
}
//-------------
.launcher-btn-3
{
    border: transparent solid 1px;
    color: blue;
    font-family: Material Design Icons Desktop;
    font-size: 30px;
    margin: 5px;
}
.launcher-btn-3:hover
{
    border: blue solid 1px;
    border-radius: 10px;
}
//--------------

//Others


//Quit sesion - reboot - power off
.launcher-btn2-0
{
    border: 1px solid #190000;
    color: #310000;
    font-family: Material Design Icons Desktop;
    font-size: 17px;
    margin: 5px;
    border-radius: 5;
    animation-duration: 1000ms;
}
.launcher-btn2-0:hover
{
    background: #190000;
    color: #ff0000;
    font-family: Material Design Icons Desktop;
    font-size: 17px;
    margin: 5px;
    animation-duration: 1000ms;
}
.launcher-btn2-1
{
    border: 1px solid #190000;
    color: #310000;
    font-family: Material Design Icons Desktop;
    font-size: 20px;
    margin: 5px;
    padding: 5;
    border-radius: 5;
}
.launcher-btn2-1:hover
{
    background: #190000;
    color: #ff0000;
    font-family: Material Design Icons Desktop;
    font-size: 20px;
    margin: 5px;
}
.launcher-btn2-2
{
    
    border: 1px solid #190000;
    color: #310000;
    font-family: Material Design Icons Desktop;
    font-size: 20px;
    margin: 5px;
    padding: 5;
    border-radius: 5;
}
.launcher-btn2-2:hover
{
    background: #190000;
    color: #ff0000;
    font-family: Material Design Icons Desktop;
    font-size: 20px;
    margin: 5px;
}
/* Calendar */

.cal-box {
  background-color: #1D1F28;
  border-radius: 8px;
  //border: 2px solid #2f354b;
  font-family: JetBrainsMonoMedium Nerd Font;
  font-size: .9em;

  .cal-inner-box {
      padding: 1rem 1rem .2rem;

      .cal {
          &.highlight {
              padding: 10rem;
          }

          padding: .8rem .25rem 0rem;
          margin-left: 10px;
      }
  }
}

calendar:selected {
  color: #C574DD;
}

calendar.header {
color: #D9E0EE;
font-weight: bold;
}

calendar.button {
color: #C574DD;
}

calendar.highlight {
color: #C574DD;
font-weight: bold;
}

calendar:indeterminate {
color: #8C8C8C;
}

/* Music player */

.music-player{
	background-color: #1D1F28;
	padding: 0 1.5rem 1rem 1.5rem;
	border-radius: 12px;
	margin: .5rem;
}
.album_art {
	background-size: cover;
	background-position: center;
	border-radius: 12px;
	margin: 2rem 1rem 1.5rem 1rem;
	padding: 7rem;
}

.artist {
	font-family: Cartograph CF;
	font-style: italic;
	font-weight: bold;
	color: #FDFDFD;
	font-size : 13px;
}
.song{
	font-family: Cartograph CF;
	font-style: italic;
	font-size: 15px;
	color: #FDFDFD;
	margin-top: -5px;
}
.btn_prev, .btn_play, .btn_next {
	font-family: JetBrainsMono Nerd Font;
}
.btn_prev {
	color: #FDFDFD;
	font-size : 2.6em;
}
.btn_play {
	color: #FDFDFD;
	font-size : 2.6em;
	font-weight : bold;
}
.btn_next {
	color: #FDFDFD;
	font-size : 2.6em;
}
.metric-player  scale trough highlight {
	all: unset;
	border-radius: 10px;
	background-color: #C574DD;
}
  
.metric-player scale trough  {
	all: unset;
	background-color: #1D1F28;
	border:2px solid #454545;
	border-radius: 50px;
  }
  
.metric-player scale trough  {
	min-width: 200px;
	min-height: 10px;
	margin: .5rem 1rem 0 1rem;
}
